html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body { line-height: 1; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ""; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

.clear { clear: both; }

strong, b { font-weight: bold; }

input, textarea { outline: none; }

.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

html, body { height: 100%; }

.cavorting, h1, h2, .topmenu { font-family: "Cavorting", arial, sans-serif; }

.pluto, body { font-family: "PlutoCondLight", arial, sans-serif; }

.pluto-medium, h3, .breadcrumbs, .lc-order-now a { font-family: "PlutoCondMedium", arial, sans-serif; }

body { font-size: 12px; background: #FFF; }

.main-container { max-width: 1170px; margin: auto; position: relative; }

@font-face { font-family: 'Cavorting'; src: url("../fonts/Cavorting-Regular.eot");
  /* IE9 Compat Modes */
src: url("../fonts/Cavorting-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Cavorting-Regular.woff2") format("woff2"), url("../fonts/Cavorting-Regular.woff") format("woff"), url("../fonts/Cavorting-Regular.ttf") format("truetype"), url("../fonts/Cavorting-Regular.svg#svgFontName") format("svg");
  /* Legacy iOS */ }
@font-face { font-family: 'PlutoCondLight'; src: url("../fonts/PlutoSansW01-CondLight.eot");
  /* IE9 Compat Modes */
src: url("../fonts/PlutoSansW01-CondLight.eot?#iefix") format("embedded-opentype"), url("../fonts/PlutoSansW01-CondLight.woff2") format("woff2"), url("../fonts/PlutoSansW01-CondLight.woff") format("woff"), url("../fonts/PlutoSansW01-CondLight.ttf") format("truetype"), url("../fonts/PlutoSansW01-CondLight.svg#svgFontName") format("svg");
  /* Legacy iOS */ }
@font-face { font-family: 'PlutoCondMedium'; src: url("../fonts/PlutoSansW01-CondMedium.eot");
  /* IE9 Compat Modes */
src: url("../fonts/PlutoSansW01-CondMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/PlutoSansW01-CondMedium.woff2") format("woff2"), url("../fonts/PlutoSansW01-CondMedium.woff") format("woff"), url("../fonts/PlutoSansW01-CondMedium.ttf") format("truetype"), url("../fonts/PlutoSansW01-CondMedium.svg#svgFontName") format("svg");
  /* Legacy iOS */ }
h1 { font-size: 44px; padding-bottom: 20px; }

h2 { font-size: 36px; padding-bottom: 20px; }

h3 { font-size: 12px; margin-bottom: 10px; }

.tar { text-align: right; }

.tal { text-align: left; }

.tac { text-align: center; }

a { color: #2f5b79; }
a:hover { text-decoration: none; }

.text-col { -webkit-column-width: 30%; -moz-column-width: 30%; column-width: 30%; -webkit-column-count: 3; -moz-column-count: 3; column-count: 3; -webkit-column-gap: 30px; -moz-column-gap: 30px; column-gap: 30px; text-align: justify; line-height: 1.4em; }
.text-col p { margin-bottom: 20px; }

.topmenu { font-size: 16px; margin-bottom: 30px; }
.topmenu li { display: inline-block; border-right: 2px solid #86BAB5; }
.topmenu li i { font-size: 12px; position: relative; left: 5px; }
.topmenu li.active a { color: #86BAB5; }
.topmenu li:last-child { border: none; }
.topmenu li:first-child a { padding-left: 0; }
.topmenu a { color: #000; padding: 6px 30px; display: inline-block; }
.topmenu a:hover { color: #86BAB5; }

.top-container { padding-top: 20px; border-bottom: 2px dashed #484848; padding-bottom: 10px; margin-bottom: 30px; }

.topmenu-right { float: right; }
.topmenu-right a { padding-right: 0; }

.breadcrumbs { font-size: 14px; color: #000; }
.breadcrumbs li { display: inline-block; }
.breadcrumbs li i { font-size: 18px; }
.breadcrumbs a { color: #555; }
.breadcrumbs a:after { content: "/"; }

.left-col-top { padding-top: 45px; padding-bottom: 55px; }
.left-col-top .social { float: right; position: relative; top: -5px; }
.left-col-top .social a { color: #86BAB5; font-size: 16px; margin-left: 5px; }

.reference { color: #555; float: left; }
.reference span { color: #8C8C8C; }

.ul-horizontal li { margin-bottom: 5px; }
.ul-horizontal b { color: #555; display: block; width: 75px; float: left; }
.ul-horizontal span { color: #8C8C8C; display: block; margin-left: 90px; }

.lc-img { float: left; width: 40px; }

.lc-ship { float: right; font-size: 13px; text-transform: uppercase; }

.lc-ul { margin-bottom: 55px; }

.left-col-certif { margin-bottom: 40px; }

.lc-order-now a { color: #8C8C8C; }
.lc-order-now i { margin-right: 10px; }

.page-content { margin-bottom: 30px; }

.lc-image-options { margin-bottom: 25px; }
.lc-image-options a { color: #8C8C8C; }
.lc-image-options a i { margin-right: 10px; }

.lc-price { font-size: 21px; color: #000; float: right; position: relative; top: -5px; }

.lc-order-now { text-align: right; font-size: 16px; }
.lc-order-now a { color: #86BAB5; }
