@font-face {
  font-family: 'Cavorting';
  src: url('../fonts/Cavorting-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Cavorting-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Cavorting-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Cavorting-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/Cavorting-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Cavorting-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'PlutoCondLight';
  src: url('../fonts/PlutoSansW01-CondLight.eot'); /* IE9 Compat Modes */
  src: url('../fonts/PlutoSansW01-CondLight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/PlutoSansW01-CondLight.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/PlutoSansW01-CondLight.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/PlutoSansW01-CondLight.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/PlutoSansW01-CondLight.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'PlutoCondMedium';
  src: url('../fonts/PlutoSansW01-CondMedium.eot'); /* IE9 Compat Modes */
  src: url('../fonts/PlutoSansW01-CondMedium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/PlutoSansW01-CondMedium.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/PlutoSansW01-CondMedium.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/PlutoSansW01-CondMedium.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/PlutoSansW01-CondMedium.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'PlutoHeavy';
  src: url('../fonts/PlutoSansW01-Heavy.eot'); /* IE9 Compat Modes */
  src: url('../fonts/PlutoSansW01-Heavy.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/PlutoSansW01-Heavy.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/PlutoSansW01-Heavy.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/PlutoSansW01-Heavy.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/PlutoSansW01-Heavy.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'RequiemText-HTF-Roman';
  src: url('../fonts/RequiemText-HTF-Roman.eot'); /* IE9 Compat Modes */
  src: url('../fonts/RequiemText-HTF-Roman.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/RequiemText-HTF-Roman.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/RequiemText-HTF-Roman.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/RequiemText-HTF-Roman.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/RequiemText-HTF-Roman.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Bazar';
  src: url('../fonts/Bazar.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Bazar.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Bazar.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Bazar.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/Bazar.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Bazar.svg#svgFontName') format('svg'); /* Legacy iOS */
}