html,body 
	height: 100%
.cavorting 
	font-family: "Cavorting",arial,sans-serif
.pluto 
	font-family: "PlutoCondLight",arial,sans-serif
.pluto-medium
	font-family: "PlutoCondMedium",arial,sans-serif
body 
	@extend .pluto
	font-size: 12px
	background: #FFF 
.main-container 
	max-width: 1170px
	margin: auto
	position: relative